head 
    script(src="/scripts/uploadPage.js") 
body
    h1 Upload new honoree
    form#uploadForm(enctype='multipart/form-data' method='POST' action='/api' style='\
    display: flex;\
    flex-flow: column;\
    gap: 0.5rem;\
    justify-content: space-between;\
    width: 300px;\
    ')
        label#nameLabel Name
        input#name(aria-labelledby='nameLabel' type='string' name='name')
        label#inductionYearLabel Induction year
        input#inductionYear(aria-labelledby='inductionYearLabel' type='number' name='inductionYear')
        label#specialRecognitionLabel Special recognition
        input#specialRecognition(aria-labelledby='specialRecognitionLabel' type='checkbox' name='specialRecognition' onclick='handleSpecialRecognition(event)')
        label#inMemoriamLabel In memoriam
        input#inMemoriam(aria-labelledby='inMemoriamLabel' type='checkbox' name='inMemoriam')
        label#startYearLabel Start year
        input#startYear(aria-labelledby='startYearLabel' type='number' name='startYear')
        label#endYearLabel End year
        input#endYear(aria-labelledby='endYearLabel' type='number' name='endYear')  
        div#achievements(style='flex-flow: column; display:none;')
            label#achievementsLabel Achievements
            textarea(name="achievements" rows="5" columns="30" style="width:800px;") #{achievements}
        div#sports(style='\
            display: flex;\
            flex-flow: column;\
            gap: 1rem;\
            white-space: nowrap;\
            width: 1000px;\
        ')  
            h2 Sports
            button(onclick="addRow('sport')" type="button" style="width: 100px") Add sport
        hr(style='width: 800px;')
        div#images(style='\
            display: flex;\
            flex-flow: column;\
            gap: 1rem;\
            white-space: nowrap;\
            width: 800px;\
        ')  
            h2 Images
            button(onclick="addRow('image')" type="button" style="width: 100px") Add image
        #errorMessage(style='color: red')
    div
    h2 Actions
    button#submitButton(onclick="submitForm()") Upload
    button#list(onclick="listHonorees()") List existing honorees